* {
  scroll-behavior: smooth;
}
body,
#menu {
  padding-top: 70px;
}

a {
  text-decoration: none;
}

.copyright {
  margin-bottom: 0;
}

h1,
h2,
h5,
h6 {
  font-family: "Lora", serif;
}

p,
button {
  font-family: "PT Sans", sans-serif;
}
